*

!infographic_app.py
!requirements.txt
!.streamlit/
!.streamlit/**
!uab_app/
!uab_app/**
!assets/
!assets/uab-medicine-logo.jpg
!assets/style_examples/
!assets/style_examples/**

__pycache__/
*.pyc
.DS_Store
