mlflow >= 3.4
mkdocs
mkdocs-material
rich
black
flake8
typer
streamlit
st_pages
langchain
langchain-prompty
langchain-openai
openai
tiktoken
pyodbc
pip-tools
jupyter
pandas
matplotlib
scikit-learn
openpyxl
seaborn
azure-ai-formrecognizer
xlsxwriter
rapidfuzz
uvicorn
python-multipart
fastapi
./llm_utils
pytest
